*{
  padding: 0;margin: 0;
  box-sizing: border-box;
}
body{
  font-family: Tahoma, sans-serif;
  font-size: 15px;
}
a{
  text-decoration: none;
}
header{
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

nav li{
  list-style-type: none;
  
}
nav ul{
  display: flex;
}
.d-flex {
  display: flex;
}
.btn-header{
  margin: 15px;
  align-items: center;
}
/* buttom in header css */
.btn-header button{
  border: none;
  padding: 15px 35px;
  border-radius: 10px;
  background-color: lightcoral;
  font-size: 18px;
  font-weight:600;
}
.btn-header button a{
  color: white;
}
.btn-header button a:hover{
  cursor: pointer;
  color: black;
  transition: color 0.5s;
}
/* finish style button header */

/* menue item header */
.menue{
  margin: 20px;
  font-size: 18px;
  font-weight: 600;
}
.menue ul li a {
  padding: 35px;
  color: black;
}
.menue a:hover{
  color: green;
  border-bottom: 1px solid blue ;
}

/* slider */
.slider{
  width: 100%;
  margin:auto;
  position: relative;
  overflow:hidden ;
}
.slide img {
  width: 100%;
  height: 80vh;
  
}
.slide{
  display: none;
}
.slide.active{
  display: block;
}
.dots.active{
  display: block;
}

.prev,.next{
  color: black;
  text-decoration: none;
  font-size: 100px;
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);

}
.prev{
  left: 5px;
}
.next{
  right: 5px;
}
